/* _sheepishly_ width = width, height = line-height */
/* this code is *not* stable by itself! Use css to position! */

.btn {
  border-radius: 100%;
  outline: 0;

  color: white;

  width: 200px;
  line-height: 200px;
  text-align: center;
  font-size: 150%;
  display: block;

  position: absolute;
  
  text-decoration: none;
  cursor: pointer;

  user-select: none;
}

.btn:hover {
  color: white;
}

.green {
  background: rgb(29, 190, 29);
}

.green:hover {
  background: rgb(16, 112, 16);
}

.yellow {
  background: rgb(255, 174, 0);
}

.yellow:hover {
  background: rgb(177, 121, 0);
}

.blue {
  background: rgb(43, 142, 255);
}

.blue:hover {
  background: rgb(23, 99, 185);
}

.red {
  background: rgb(243, 40, 25);
}

.red:hover {
  background: rgb(190, 31, 19);
}

.auth {
  position: absolute;

  width: 200px;
  height: 200px;

  border: none;
  outline: 0;
  cursor: pointer;

  user-select: none;

  border-radius: 100%;

  font-size: 150%;

  color: white;
}